
@{
    ViewBag.Title = "QuanLyDiaDiem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}
@model List<DiaDiem>
<style>
    .btn-max-width {
        width: 80%;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý Địa Điểm</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/ThemMoiDiaDiem">Thêm địa điểm mới</a></li>
                        @*<li class="breadcrumb-item active">Quản lý vé</li>*@
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Địa Điểm</h3>

            <div class="sort-box">
                <select id="sort-selector">
                    <option value="">--Chọn cách sắp xếp--</option>
                    <option value="Ma">Mã Địa Điểm</option>
                    <option value="Ten">Tên Địa Điểm</option>
                    <option value="DiaChi">Địa Chỉ</option>
                </select>

                <select id="sort-direction">
                    <option value="">Chiều sắp xếp</option>
                    <option value="1">Từ cao tới thấp</option>
                    <option value="0">Từ thấp tới cao</option>
                </select>

                <button id="apply-sort">Áp Dụng</button>
            </div>
            <div class="card-tools">
                <button type="button"
                        class="btn btn-tool"
                        data-card-widget="collapse"
                        title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button"
                        class="btn btn-tool"
                        data-card-widget="remove"
                        title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">#</th>
                        <th style="width: 10%">Mã Địa Điểm</th>
                        <th style="width: 20%">Ảnh</th>
                        <th style="width: 20%">Tên Địa Điểm</th>
                        <th style="width: 20%">Địa chỉ </th>
                        <th style="width: 20%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DiaDiem diaDiem in Model)
                    {
                        int x = 0;
                        <tr>
                            <td>@i</td>
                            <td>
                                <a> @diaDiem.MaDiaDiem </a>
                                <br />
                            </td>
                            <td><img style="width:40%" src="@diaDiem.DuongDanAnh" alt="Placholder Image 2" class="product-frame "></td>
                            <td>
                                <p> @diaDiem.TenDiaDiem</p>
                            </td>
                            <td>
                                <p>@diaDiem.DiaChi</p>
                            </td>

                            <td class="project-actions text-center">

                                <button class="btn-delete">
                                    <a href="/Admin/EditDiaDiem/@diaDiem.MaDiaDiem" class="btn btn-danger btn-sm btn-max-width js-xoa">
                                        <i class="fas fa-trash"> </i>
                                        chỉnh sửa
                                    </a>
                                </button>

                                <form action="/Admin/XoaDiaDiem" method="post">
                                    <input name='id' type="hidden" value="@diaDiem.MaDiaDiem" />
                                    <button class="btn-delete" type='submit'>
                                        <a class="btn btn-danger btn-sm btn-max-width js-xoa">
                                            <i class="fas fa-trash"> </i>
                                            Xóa
                                        </a>
                                    </button>
                                </form>
                            </td>

                        </tr>
                        i++;
                        x++;
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- /.content -->
</div>
@section scripts
{
    <script>
        $('#apply-sort').click(function() {
            var value = $('#sort-selector').val();
            var direction = $('#sort-direction').val();
            if (value != null && direction != null) {
                window.location.href = `/admin/QuanLyDiaDiemSort?sortValue=${value}&sortDirection=${direction}`;
            }
        })
    </script>
}

@section styles
{
    <style>
        .js-xoa {
            width: 100%
        }

        .btn-delete {
            border: none;
            width: 100%;
            background: none;
        }

        .sort-box {
            display: flex;
            justify-content: center;
        }

        #sort-selector {
            margin-right: 2rem;
            font-family: 'Font Awesome 5 Free';
        }

        #sort-direction {
            margin-right: 2rem;
            font-family: 'Font Awesome 5 Free';
        }

        #apply-sort, #apply-sort:focus {
            border: none;
            background: deepskyblue;
            padding: 0.5rem;
            border-radius: 1rem;
            font-family: 'Font Awesome 5 Free';
            outline: none;
        }

            #apply-sort:hover {
                background: rgba(0, 191, 255, 0.5);
            }
    </style>
}
