@using System.Collections.ObjectModel
@using BanVeDiTourDuLich.Controllers
@model BanVeDiTourDuLich.ViewModels.CartViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataContext context = new DataContext();
    KhachHang khachHang = context.KhachHangs.Find(Session["MaTaiKhoan"]);
    double tongTien = 0;
}
<main>
    <div class="basket">
        <div class="basket-module">
            <label for="promo-code">Nhập vào mã giảm giá</label>
            <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
            <button class="promo-code-cta">Áp dụng</button>
        </div>
        <div class="basket-labels">
            <ul>
                <li class="item item-heading">Vật phẩm</li>
                <li class="price">Giá tiền</li>
                <li class="quantity">Số lượng</li>
                <li class="subtotal">Tổng</li>
            </ul>
        </div>
        @foreach (var hang in @Model.ThongTinVeTrongGios)
        {
            {
                var tour = @context.Tours.Find(hang.MaTour);
                var loai = tour.LoaiVes.First(loaiVe => loaiVe.MaLoaiVe == hang.MaLoaiVe);
            <div class="basket-product">
                <div class="item">
                    <div class="product-image">
                        <img src="@tour.DiaDiemDen.DuongDanAnh" alt="Placholder Image 2" class="product-frame">
                    </div>
                    <div class="product-details">
                        <p><strong>Mã Tour: @hang.MaTour</strong></p>
                        <p>Mã Loại Vé: @hang.MaLoaiVe</p>
                    </div>
                </div>
                <div class="price">@TourController.AddDotAndCommaToInteger(loai.GiaTien)</div>
                <div class="quantity">
                    <input type="number" value="@hang.SoLuong" min="1" class="quantity-field">
                </div>
                <div class="subtotal">@(@loai.GiaTien * @hang.SoLuong)</div>
                 @{tongTien = tongTien +
                     (@loai.GiaTien * @hang.SoLuong); }
                <div class="remove">
                    <button>Xóa</button>
                </div>
            </div>
            }
        }
    </div>
    <aside>
        <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Đồ trong giỏ hàng</div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Tổng tiền</div>
                <div class="subtotal-value final-value" id="basket-subtotal">
                    @TourController.AddDotAndCommaToInteger(tongTien)
                </div>
                <div class="summary-promo hide">
                    <div class="promo-title">Giảm giá</div>
                    <div class="promo-value final-value" id="basket-promo"></div>
                </div>
            </div>
            <div class="summary-total">
                <div class="total-title">Tổng tiền thanh toán</div>
                <div class="total-value final-value" id="basket-total">@TourController.AddDotAndCommaToInteger(tongTien)</div>
            </div>
            <div class="summary-checkout">
                
                <form id="pay" action="/Cart/Charge" method="POST">
                    <input type="hidden" id="TextBox1" placeholder="amount" name="amount" value="@tongTien" />
                    <input type="hidden" id="TextBox2" placeholder="name" name="name" value="@khachHang.Ten" />
                    <input type="hidden" id="TextBox3" placeholder="description" name="description" value="Thanh Toán Cho @if (khachHang != null)
                                                                                                                          {@khachHang.Ten
                                                                                                                          }" />

                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Model.StripeKey.PublishableKey"
                            data-name="Du Lịch Việt"
                            data-description="Thanh Toán Cho @if (khachHang != null)
                                                             {@khachHang.Ten
                                                             }"
                            data-amount="@tongTien"
                            data-currency="VND">
                    </script>
                    <button type="submit" class="checkout-cta">Thanh toán</button>
                </form>
                
                
            </div>
        </div>
    </aside>
</main>
@section styles
{
    <link rel="stylesheet" href="~/Content/css/Cart.css">
}

@section scripts
{
    <script src="~/Scripts/Cart.js"></script>
}
